<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="outloookLyncAddin" type="OutlookLincAddin.Configuration.OutlookLyncAddinSection, OutlookLyncAddin.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f77c479b58d2227e"/>
  </configSections>
  <outlookLyncAddinSection xmlns="urn://i-teco/schemas/dev/outlook-lync-addin">
    <phonePatterns>
      <pattern value="##-##"/> <!--Шаблон номера телефона -->
      <pattern value="+7(###)###-##-##"/> <!--Шаблон номера телефона -->
    </phonePatterns>
  </outlookLyncAddinSection>
</configuration>